/* reset condition */
* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #fff;
}

#mainNavbar {
  font-weight: 700;
}

#mainNavbar .navbarLink {
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar-darkmode {
  background: #212121;
}

#mainNavbar.scrolled {
  transition: background 922ms;
} /* NAV - transition*/

h2 {
  font-weight: 700;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

#section1 {
  background-image: url("/img/background-2.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 #intro {
  font-size: 3rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8), 0px 8px 13px rgba(0, 0, 0, 0.5),
    0px 18px 23px rgba(0, 0, 0, 0.2);
}

#what-is-fcgec {
  background: #212121;
  font-size: 1.1rem;
}

#what-is-fcgec h2 {
  border-bottom: #0069ff solid 3px;
}

#what-is-fcgec img {
  margin: 0 auto;
}

#what-we-do {
  background-color: #eee;
  color: #000;
}

#what-we-do h2 {
  border-bottom: #0069ff solid 3px;
  text-transform: uppercase;
}

#what-we-do h3 {
  /* text-transform: uppercase; */
  font-weight: 600;
  font-style: italic;
}

#our-goal {
  background: #424242;
  font-size: 1.1rem;
}

#our-goal img {
  max-height: 350px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#events {
  background: #303030;
  font-size: 1.1rem;
}

#footer-section {
  background: #212121;
}

.carousel-item h5 {
  font-weight: 700;
  text-transform: uppercase;
}

.carousel-item p {
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
}

footer li a {
  font-weight: 600;
}
