/* reset condition */
*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100%;
}

/* html{
    padding-top: 56px;
} */

#mainNavbar{
    font-weight: 700;
}

#mainNavbar .navbarLink{
    font-size: 1.2rem;
}

.navbar-darkmode{
    background: #212121;
}

#mainNavbar.scrolled {
	transition: background 922ms;
} /* NAV - transition*/


#section1{
    background-image: url("/img/background-1.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section1 #intro{
    font-size: 1.6rem;
}

#section2{
    background: #424242;
    font-size: 1.3rem;
}

#section3{
    background: #303030;
    font-size: 1.3rem;
}

#section4{
    background: #424242;
    font-size: 1.3rem;
}

#section5{
    background: #303030;
    font-size: 1.3rem;
}

#footer-section{
    background: #212121;
}