/* reset condition */
*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100%;
}

html{
    padding-top: 56px;
}

#NavBar{
    background: #424242;
}

#section1{
    background-image: url("/img/background-1.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 2rem;
    
}